body {
    display:flex;
    flex-direction: column;
    background-color: blue;
}

.header {
    display: flex;
    justify-content:center;
    font-size: 30px;
    background-color: aliceblue;

}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 40px;
    background-color: coral;
}

